<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../node_modules/angular/angular.js"></script>
</head>
<body ng-controller="indexCtrl">
    <button ng-click="clickBtn()">点击弹框</button>
</body>


<script type="text/ng-template" id="lovestory.html">
    <h4>{{lovestory}}</h4>
    <input type="text" ng-model="lovestory">
    <p>这是script标签获取模板文件的方式</p>
    <a href="http://www.baidu.com">标签启用templateCache方式</a>
  </script>

<script src="box.js"></script>
<script src="indexCtrl.js"></script>
</html>